@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: white;
    --secondary-color: black;
    --third-color: #E3A99E;
}

* {
    font-family: "Rajdhani", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

img{
    user-drag: none;
    -webkit-user-drag: none;
}


header {
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    transition: top 0.3s;
    height: 75px;
}

.nav-container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: flex-start;
}

.header-logo {
    width: 150px;
    object-fit: contain;
}

.container {
    margin: auto;
    max-width: 1280px;
}

.banner .container {
    background-color: var(--third-color);
    display: flex;
}

.banner {
    width: 100%;
    /* background: radial-gradient(circle, #E3A99E 60%, #000 100%); */
    position: relative;
    background-color: var(--third-color);
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);

}

.sombra {
    z-index: 1;
    box-shadow:
        inset -40px 0 100px rgba(0, 0, 0, 0.5),
        inset 40px 0 100px rgba(0, 0, 0, 0.5);
    position: absolute;
    max-width: 1280px;
    width: 100%;
    height: 100%;
    top: 0;
    margin: auto;
}

.banner-img {
    width: 50%;
    object-fit: cover;
    border-right: 2px solid white;

}


.texto-banner {
    z-index: 2;
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.texto-banner h2 {
    font-size: 3em;
    margin: 0;
    padding: 0;
}

.texto-banner p {
    font-size: 1.5em;
    font-weight: 500;
}

.texto-banner span {
    font-size: 1.5em;
    font-weight: 600;

}

.boton {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.texto-banner button {
    margin-top: 10px;
    font-size: 2em;
    font-weight: 600;
    border: 4px solid black;
    background-color: #F3F3F3;
    padding: 10px 35px;
    border-radius: 10px;
    cursor: pointer;
}

.texto-banner button:hover {
    filter: brightness(95%);
}

.items {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 100px 40px;
    gap: 60px;
}

.items img {
    width: 100px;
}

.items span {
    font-weight: 500;
    font-size: 1.375em;
    text-align: center;
}

.items-individuales {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}



.series {
    max-width: 1160px;
    margin: auto;
    padding: 0 40px 100px 40px;
}

.series h2 {
    font-size: 2.25em;
}

.series-individuales {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.series-items {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 40px;
    margin: 40px 0;
    cursor: pointer;
}

.series-items:hover {
    transform: scale(1.02);
    transition: .2s ease-in-out;
   }

.series-items img {
    max-width: 320px;
    width: 100%;
    object-fit: contain;
}

.series-items h3 {
    text-align: center;
    color: white;
    padding: 20px 0;
    font-size: 1.5em;
    font-weight: 500;
}

footer {

    background-color: black;
}

.footer-container {
    margin: auto;
    max-width: 1160px;

    display: flex;
    justify-content: space-between;
    padding: 80px 40px;

}

.copyr{
color: white;
margin: auto;
text-align: right;
max-width: 1280px;
width: 100%;
padding-bottom: 50px;
font-size: 1.25em;
padding: 0 40px 40px 0;
}

.footer-part1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    margin-right: 40px;
}

.footer-container ul {

    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 35px;
    font-size: 1.3em;
}

.footer-container ul a {
    color: white;
    text-decoration: none;
}

.footer-container ul a:hover {
    color: #dadada;
    text-decoration: none;
}


.footer-container p {
    color: white;
    font-size: 1.3em;
    margin-bottom: 20px;
    text-align: center;
}

.redes-sociales-items {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.redes-sociales-items img {
    object-fit: contain;
    max-width: 50px;

    flex-shrink: 0;
}

.redes-sociales-items img:hover {
    transform: scale(1.1);
    transition: 0.2s ease-out;
}

.overlay{
 background-color: rgb(0, 0, 0, 0.5);
 z-index: 5;
 width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
}

.formul{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 40px;
    gap: 20px;
    position: relative;
    max-width: 600px;
    
}

.formul input[type=text], .formul input[type=email]{
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 1.2em;
}


.formul label{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
    font-size: 1.2em;
    font-weight: 500;
}

/* input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin-right: 7px;
    border-radius: 5px;
    border: none;
    appearance: none;
    outline: none;
    transition: outline 0.1s;
    background-color: #383838;

} */

.formul input[type=checkbox]{
    height: 50px;
    width: 50px;
    appearance: none;
    border: 1px solid #535353;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 2px;
}

.formul input[type="checkbox"]:not(:disabled):checked {
    background-image: url("../img/rectangle-checked.svg");
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
}


/* .formul input[type="checkbox"]:disabled {
    
} */

/* input[type="checkbox"]:disabled:checked {} */

.formul input[type="checkbox"]:not(:disabled):hover {
    background-color: #f3f3f3;
}

.formul p{
    font-size: 1.2em;
    font-weight: 500;
}

.formul input[type=submit]{
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    color: #ffffff;
    background-color: #101010;
    border: none;
}

.formul input[type=submit]:hover{
    
    background-color: #252525;

}

.formul p a{
    text-decoration: none;
    color: rgb(0, 0, 139);
}

.formul p a:hover{
    color: rgb(0, 0, 211);
}

.img-close{
width: 30px;
position: absolute;
top: 35px;
right: 35px;
cursor: pointer;
}

.img-form{
width: 220px;
}

.bienvenida{
    width: 100%;
    padding: 60px 0;
    font-size: 1.5em;
    font-weight: 500;
}

@media only screen and (max-width: 608px) {

    .nav-container {

        justify-content: center;
    }

    .banner .container {
        flex-direction: column;
    }

    .overlay{
        align-items: flex-start;
    overflow: auto;
    background-color: white;
    }
    
    .banner img {
        width: 100%;
        height: clamp(16.563rem, -4.675rem + 50.943vh, 25rem);
    }

    .sombra {
        height: clamp(16.563rem, -4.675rem + 50.943vh, 25rem);
    }

    .texto-banner {
        width: 100%;
        padding: 25px 25px;
        gap: 25px;
    }

    .texto-banner h2 {
        font-size: clamp(1.8rem, 0.667rem + 2.717vh, 2.25rem);
    }

    .texto-banner p {
        font-size: clamp(1.2rem, 0.445rem + 1.811vh, 1.5rem);
    }

    .texto-banner span {
        font-size: clamp(1.2rem, 0.445rem + 1.811vh, 1.5rem);
    }

    .boton {

        width: 100%;

    }

    .texto-banner button {

        font-size: clamp(1.4rem, 0.519rem + 2.113vh, 1.75rem);

    }

    .items {
        flex-direction: column;
        padding: 100px 25px;
    }

    .series {
        padding: 0 25px 50px 25px;
    }

    .series h2 {
        font-size: 2em;
    }

    .series-items h3 {
        font-size: clamp(0.875rem, 0.446rem + 2.143vi, 1.25rem);
        padding: 20px 0;
    }

    .series-items {
        border-radius: 15px;
    }

    

    .series-individuales {
        gap: 10px;
    }

    .footer-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }

    .footer-part1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
        margin-right: 0;
    }

    .copyr{
        text-align: center;
        padding: 0 0 50px 0;
        }

        .header-logo {
            width: 145px;
            
        }
}

@media only screen and (min-width: 608px) and (max-width: 1120px) {

    
    .texto-banner h2 {
        font-size: clamp(2em, 0.813em + 3.125vi, 3em);
    }

    .texto-banner button {

        font-size: clamp(1.5em, -0.188em + 3.125vi, 2em);

    }

    .texto-banner p {
        font-size: clamp(1.25em, 1.024em + 0.595vw, 1.5em);
    }

    .texto-banner span {
        font-size: clamp(1.25em, 1.024em + 0.595vw, 1.5em);

    }

}

@media only screen and (max-height: 750px) and (min-width: 608px) {
 html{
    font-size: 14px;
 }


 .formul{
    font-size: 1.15em;
 }
}

@media only screen and (min-height: 1000px) and (min-width: 608px) {
    html{
       font-size: 18px;
    }
   
   
    .formul{
       font-size: 1.15em;
    }
   }